<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700|Open+Sans:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} ">
    
    {% block head %}
    {% endblock %}

</head>

<body>

    {% block body %}
    {% endblock %}

    <script type="text/javascript" src="{{ url_for ('static', filename='js/main.js') }}">
    </script>
    <!-- Scripts -->

    </body>

</html>